<!DOCTYPE html>
<html
        th:replace="~{layout/main :: layout(~{::title}, ~{::section})}"
        lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title th:text="#{page.create_theme.title}"></title>
    </head>
    <body>
        <section>
            <h1 th:text="#{page.create_theme.title}">Create theme</h1>
            <form action="#" th:action="@{/theme/create}" th:object="${form}" method="post">
                <div class="form-group">
                    <input type="text" th:field="*{title}" class="form-control" id="title" th:placeholder="#{form.create_theme.title}" />
                    <ul class="text-danger" th:each="error: ${#fields.errors('title')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <textarea th:field="*{text}"
                              class="form-control"
                              id="text"
                              th:placeholder="#{page.theme.create.form.text}"
                    ></textarea>
                    <ul class="text-danger" th:each="error: ${#fields.errors('text')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary"value="Create">
                </div>
            </form>
        </section>
    </body>
</html>