<!DOCTYPE html>
<html
        th:replace="~{layout/simple :: layout(~{::title}, ~{::section})}"
        lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title th:text="#{login.header}"></title>
    </head>
    <body>
        <section class="col-lg-6 center_div">
            <h1 th:text="#{login.header}">Login</h1>
            <form action="#" th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" th:placeholder="#{login.field.username}" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" th:placeholder="#{login.field.password}" />
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                        <span th:text="#{login.field.remember_me}"></span>
                    </label>
                </div>
                <div class="error text-danger" th:if="${param.error != null}" th:with="errorMsg=#{login.badCredentials}">
                    <p class="errorMsg"><span th:text="${errorMsg}"></span></p>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" th:value="#{login.field.submit}">
                <a href="#" class="btn btn-secondary btn-lg btn-block" th:href="@{/register}" th:text="#{link.register}"></a>
            </form>
        </section>
    </body>
</html>