<!DOCTYPE html>
<html
        th:replace="~{layout/main :: layout(~{::title}, ~{::section})}"
        lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title th:text="#{client.create.title}"></title>
    </head>
    <body>
        <section>
            <h1 th:text="#{client.create.title}">Create</h1>
            <form action="#" th:action="@{/client/create}" th:object="${form}" method="post">
                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" id="title" th:placeholder="#{client.create.form.name}" />
                    <ul class="text-danger" th:each="error: ${#fields.errors('name')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <select th:field="*{accountType}" class="form-control" id="account_type" th:placeholder="#{client.create.form.account_type}">
                        <option
                            th:each="account_type : ${account_type_list}"
                            th:text="${account_type.bank.name + ' - ' + account_type.type}"
                            th:value="${account_type.id}"
                        >1</option>
                    </select>
                    <ul class="text-danger" th:each="error: ${#fields.errors('accountType')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" th:value="#{form.button.add}" value="Create">
                </div>
            </form>
        </section>
    </body>
</html>