<!DOCTYPE html>
<html lang="ru" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: head (${title})"></div>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Bank Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/bank/list}" th:text="#{bank.list.title}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/client/list}" th:text="#{client.list.title}"></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="POST" th:action="@{/logout}">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0"  th:text="#{logout_button.text}">
                            Logout
                        </button>
                    </form>
                </div>
            </nav>
        </header>
        <div class="container">
            <div th:replace="fragments/flash_message :: flash_message"></div>
            <div th:insert="${content}"></div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
        <div th:replace="fragments/scripts :: scripts"></div>
    </body>
</html>